<!DOCTYPE html>
<html>
  <head>
    <title>THE SPOON</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>The Spoon</h1> <!-- Add this -->

    <%= yield %>

    <footer>
      <p>Aqui va el pulento footer oeziii</p>  <!-- Add this --></footer>
</body>
</html>
